.folder-contents {
  margin: 15px;
  border: 1px solid lightgray;
  border-radius: 4px;
};

.empty-folder {
  margin: 15px;
};

.folder-contents .content-element:not(:last-child) {
  border-bottom: 1px solid lightgray;
};