.tag-checkbox {
  height: 30px;
  padding: 5px;
  font-size: 11pt;
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    cursor: pointer;
    height: 24px;
    width: 24px;
  };

  label {
    margin-top: -1px;
    padding-left: 3px;
  }
};
