.tag-checkbox {
  height: 30px;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  font-size: 11pt;

  input[type='checkbox'] {
    cursor: pointer;
  };

  label {
    padding-left: 5px;
  }
};
